:root {
    --gray: rgb(238, 238, 238);
}

* {
    box-sizing: border-box;
    font-family: serif;
}

.text span {
    font-size: 17px;
    word-spacing: 3px;

}

/* nav ul li a+a {
    margin-left: 5px;
} */


nav ul li a {
    font-size: 10px;
}



.btncss {
    color: black;
}

p {
    font-size: 15px;
}

.title-edit {
    margin-top: -21px;
}


.social-icons img {
    width: 30px;
    height: 30px;

}


@media (min-width: 768px) {
    p {
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    .content {
        background-color: white;
        width: 76%;
        margin: 0 auto;
    }
    
    .backgroundColor {

        background-color: rgb(117, 101, 209);
        ;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    p {
        font-size: 14px;
    }
}


@media (min-width: 1200px) {
    p {
        font-size: 15px;
    }
}



